/*@import url('https://fonts.googleapis.com/css?family=Cinzel:700|Lobster|Merriweather|Questrial|PT+Sans|Mukta+Vaani');*/
/*Body*/
body
{
	/*font-family: 'PT Sans', sans-serif;*/
	/*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Merriweather', serif;*/
    /*font-family: 'Cinzel', serif;*/
    /*background: url(../images/bg.jpg);*/
    /*background: url(../images/bg.jpg);*/
    background: #fff;
}
.no-bg
{
	background: transparent;
}
.no-pad
{
	padding: 0;
}
.no-margin{
	margin: 0;
}
.opacity-bg
{
	background-color: rgba(0, 0, 0, 0.7);	
}

/*Contact-info*/

.Contact-info{
	height: 10.5rem;
}

.name{
	padding-top: -20px;
}

/*Nav Bar*/
.my-nav-logo
{
	width: 100%;
	height: auto;
}
.my-nav-logo h2{
	margin-top: 10px;
	color: #001733;
}
.my-logo{
	padding: 0 15px;
}
.my-nav
{
	
}
.my-navbar
{
	border-radius: 0;
	border: none;
	border-top: 1px #000 solid;
	margin-bottom: 0;
	background-color: #001733;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 9999;
	margin-bottom: 3px;
}

.my-nav-right {
    position: absolute;
    left: 86%;
}
/*.my-nav
{
	width: 100%;
}
.my-nav>li
{
	width: 20%;
}
.my-nav-full>li
{
	width: 100%;
}*/
.my-navbar .my-nav>li>a,.my-footer>li>a
{
	padding: 15px;
	/*font-weight: bold;*/
	font-size: 16px;
}

.my-footer>li:hover a,.my-navbar .my-nav>li:hover a
{
	color: 	#fff;
	background-color: #002147;
}
.item 
{
	height: 70%;
}
.item img 
{
	height: 100%;
	width: 100%;
}
.my-fa 
{
    position: absolute;
    top: 45%;
    font-weight: bolder;
    font-size: 50px;
}
.no-pad
{
	padding-left: 0;
	padding-right: 0;
}

/*Slide*/
.item
{
	position: relative;
}
.my-carousel-caption h2
{
	font-size: 240%;
}
.my-carousel-caption p
{
	font-size: 130%;
}
.my-carousel-caption
{
	color: #F1592A;
}
.slide-one-text {
    position: absolute;
    top: 75%;
    left: -10%;
}
.slide-two-text
{
	position: absolute;
	bottom: 3%;
	left: 18%;
}
.slide-three-text
{
	position: absolute;
	top: 5%;
	left: 5%;
}
/*Welcome*/
.welcome
{
	margin: 0px auto;
	padding-bottom: 20px;
	color: #001733;
	/*font-family: 'Mukta Vaani', sans-serif;*/
}
.welcome p,.mission p
{
	font-size: 16px;
}


.activity 
{
	color: #fff;
}
.activity table tr
{
	border:2px solid #A6A6A5;
}
.recent-activity
{
	padding-top: 10px;
	color: #001733;
}
.recent-activity h2 {
    border: 2px solid #A6A6A5;
    margin: 20px 0px;
    padding: 15px;
    border-radius: 5px;
}

.act{
	padding-top: 30px;
}
.act>div>div
{
	padding-bottom: 30px;
}
.recent-events
{
	margin-top: 20px;	
}
/* Using panels to display blog date */
.my-panel-body
{
	margin-top: 13px;
}
.my-panel-body li
{
	/*border-bottom: 1px dotted #fff;*/
}
.my-panel
{
	/*background: #11312C;*/
	background: #001735;
}
.my-login-panel{
	background: #001733;
}
.login-panel{
	padding-top: 120px;
	padding-left: 60px;
}
.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}


.my-fa-hand
{
	color: #fff;
}

.promo-video figure iframe
{
	width: 90%;
	min-height:320px;
}
.promo-video figure
{
	margin-top: 30px;
}
.promo-mission
{
	margin-top: 40px;
	margin-bottom: 30px;
}

.promo-mission-body
{
	padding-top: 50px;
}
.promo-text
{
	padding-top: 150px;
}
.promo-image figure img
{
	border-radius: 5px;
}
/*About*/
.about{
	padding: 15px 15px;
}
/*Mission*/
.mission
{
	margin-top: 40px;
	margin-bottom: 30px;
}
.mission img
{
	padding-top: 60px;
}

.mission-body
{
	padding-top: 100px;
}


.my-footer-full
{
	background: #001733;
	color: #fff;
}
.my-footer
{
	width: 100%;
}
.my-footer li
{
	width: 25%;
	color: #fff;
}
.my-footer li a
{
	color: #fff;
}
.my-footer-full .social
{
	padding-bottom: 20px;
}
.my-footer .social a
{
	padding: 0 20px;
}

/*Galary*/

.galary
{
	margin-top: 70px;
}

.single-gallery-item{
    overflow: hidden;
}

.gallery-lightbox {
    display: block;
    position: relative;  
}
.gallery-lightbox img{
    overflow: hidden;
    width: 100%;
    transition: .3s;
    height: auto;
    padding: 6px 9px;
    margin: 0 auto;

}
.gallery-lightbox i.fa {
    font-size: 30px;
    left: 48%;
    line-height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 40%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
}
.gallery-lightbox::after {
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
    visibility: hidden;
    width: 100%;
}
.gallery-lightbox:hover i.fa{
    top: 50%;
    visibility: visible;
    z-index: 999;
}
.gallery-lightbox:hover::after {
    visibility: visible;   
}

.gallery-lightbox:hover img {
    transform: scale(1.2);
}

/*Our Project*/

.only-right-pad
{
	padding-left: 0px;
}
.our-projects
{
	margin:30px auto;
}
.our-projects>h1
{
	padding: 20px 20px;
}
.thumb-back
{
	background: url(../images/Background1.jpg) no-repeat;
}
.caption h3
{
	color: #FFEBCD;
	font-weight: bolder;
}
.caption p
{
	color: #fff;
}


/*Our team*/
.our-team
{
	margin-top: 30px;
	margin-bottom: 70px;
}

.member-photo
{
	position: relative;
	padding: 0 15px;
	margin-top: 20px;
}
.member-photo img
{
	max-height: 240px;
	width: 100%;
}

.id-caption
{
	content: "";
	position: absolute;
	bottom: 0;
	left: 6%;
	background: rgba(0, 0, 0, 0.4);
	width: 88%;
	height: 25%;
	margin: 0 auto;
	color: #fff;
	margin-bottom: 0;
}
.id-caption h3
{
	margin-top: 5px;
}

/*Upcoming events*/
.upcoming
{
	margin: 30px auto;
}
.upcoming h1
{
	margin-bottom: 20px;
}
.upcoming p
{
	font-weight: bold;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-bottom: 0;
	line-height:2.0;
}

.feedback, .contact
{
	padding-bottom: 10px;
	margin:20px auto;
	/*border-left: 2px solid #fff;*/
}
.feedback-form input
{
	margin: 20px auto;
}
.feedback-form textarea
{
	margin-bottom: 20px;
}

.footer
{
	min-height: 200px;
	background-color: #000;
}
.logo
{
	/*border-bottom: 1px solid #fff; */
	margin-top: 20px;
}
.logo img
{
	margin: 0 auto;
	border: 1px solid #fff;
	padding: 10px;
	border-radius: 50%;
}

.about-us
{
	padding-top: 52PX;
}
.copy-right
{
	background-color: #d9d9d9;
	font-weight: bolder;
	color: #000;
	font-size: 16px;
}

.vanish
{
	display: none;
}






@media screen and (min-width: 1200px) 
{
	/*Upcoming Events*/
	.upcoming p
	{
		padding-bottom: 10px;
	}
	/*Gallary*/
	.galary
	{
		margin-top: 80px;
	}
}
@media screen and (max-width: 1199px) 
{
	/*Our team*/
	.id-caption h3
	{
		font-size: 20px;
		margin-bottom: 0px;
	}
	.id-caption p
	{
		font-size: 11px;
	}
	.upcoming img
	{
		padding-top: 15px;
	}

	/*mission*/
	.mission-body 
	{
	  padding-top: 45px;
	}
}
@media screen and (max-width: 992px) 
{
	/*Our Mission*/
	.mission img
	{
		padding-top: 150px;
	}
	/*Nav-Bar*/
	.my-navbar .my-nav>li>a
	{
	padding: 15px 20px;
	}
	/*Upcoming Events*/
	.upcoming p
	{
		font-weight: bold;
		font-size: 16px;
	}
	.upcoming img
	{
		padding-top: 30px;
	}
	/*Our Team*/
	.id-caption h3
	{
		font-size: 110%;
		margin-bottom: 0;
		font-weight: bolder;
	}
	.id-caption p
	{
		font-size: 80%;
	}

	/*Slide*/
	.my-carousel-caption h2
	{
		font-size: 220%;
	}
	.my-carousel-caption p
	{
		font-size: 110%;
	}
	.slide-one-text
	{
		top: 23%;
		right: 5%;
	}
	.slide-two-text
	{
		bottom: 3%;
		left: 18%;
	}
	.slide-three-text
	{
		top: 5%;
		left: 15%;
	}
}
@media screen and (width: 768px)
{
	/*Our Mission*/
	.mission img
	{
		padding-top: 120px;
	}
	/*Upcoming*/
	.upcoming img
	{
		display: none;
	}
	/*Footer*/
	.feedback , .contact
	{
		height: 100%;
		width: 50%;
		border-left: none;
		padding-right: 35px;
		padding-left: 35px;
	}
}
@media screen and (max-width: 768px) 
{
	/*Contact-Info*/
	.social,.phone,.email
	{
		text-align: center;
	}
	/*Slide*/
	.my-carousel-caption h2
	{
		font-size: 120%;
	}
	.my-carousel-caption p
	{
		font-size: 80%;
	}
	.slide-one-text
	{
		top: 50%;
		right: -10%;
	}
	.slide-two-text
	{
		bottom: 5%;
		left: 16%;
	}
	.slide-three-text
	{
		top: 5%;
		left: 7%;
	}
	/*Member*/
	.id-caption
	{
		position: static;
		background: none;
		color: #000;
	}
	/*Mission*/
	.mission img
	{
		padding-top: 50px;
	}
	.mission-body 
	{
	  padding-top: 20px;
	}
	/*Upcoming*/
	.upcoming img
	{
		display: none;
	}

	/*Our Team*/
	.id-caption h3
	{
		font-size: 90%;
		font-weight: bolder;
	}
	.id-caption p
	{
		font-size: 70%;
	}
	/*Contact Us Footer*/
	.about-us
	{
		display: none;
	}
	/*Feedback*/
	.feedback , .contact
	{
		height: 100%;
		border-left: none;
		padding-right: 35px;
		padding-left: 35px;
		margin:0 auto;
	}
	.contact
	{
		border-bottom: 2px solid #343D74;
	}
	.feedback h1
	{
		font-size: 20px;
	}
	.feedback-form input
	{
		margin: 5px auto;
	}
	.feedback-form textarea
	{
		margin-bottom: 12px;
	}
	.vanish
	{
		display: block;
	}
	.visible
	{
		display: none;
	}
	.login-panel{
		padding: 20px;
	}
	.my-nav>li
	{
		border-bottom: 1px solid #fff;
	}

	.my-footer li
	{
		margin: 0 auto;
	}
}


@media screen and (max-width: 440px) 
{
	/*Contact-Info*/
	.social,.phone,.email
	{
		text-align: center;
	}
	/*Slide*/
	.my-carousel-caption h2
	{
		font-size: 80%;
	}
	.my-carousel-caption p
	{
		font-size: 60%;
	}
	.slide-one-text
	{
		top: 8%;
		right: 8%;
	}
	.slide-two-text
	{
		bottom: -8%;
		left: 15%;
	}
	.slide-three-text
	{
		top: -17%;
		left: 7%;
	}
	.carousel-indicators
	{
		display: none;
	}
}





/*Css For Thumbnail Caoursel*/
.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }








/*//Admin Login*/

#adminlogin
{
  background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-top: 80px;
}
#login
{
	background: url(../images/bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#login>div
{
	padding-top: 80px;
}



/*Contact Form*/


#loading-img{
display:none;
}
 
.response_msg{
margin-top:10px;
font-size:13px;
background:#E5D669;
color:#ffffff;
width:250px;
padding:3px;
display:none;
}